name: matrix-for-each-org

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: get organizations in enterprise
        id: orgs
        env:
          GH_TOKEN: ${{ secrets.ADMIN_TOKEN }}
        run: |
          organizations=$(gh api graphql --paginate -f enterpriseName="FastTrack-GHEC" -f query='
          query getEnterpriseOrganizations($enterpriseName: String! $endCursor: String) {
            enterprise(slug: $enterpriseName) {
              organizations(first: 100, after: $endCursor) {
                nodes {
                  id
                  login
                }
                pageInfo {
                  endCursor
                  hasNextPage
                }
              }
            }
          }' --jq '{organizations: [.data.enterprise.organizations.nodes[].login]}')

          echo "ORGANIZATIONS=$organizations" >> "$GITHUB_OUTPUT"

      - run: echo "${{ steps.orgs.outputs.ORGANIZATIONS }}"
      # - name: Build matrix
      #   uses: actions/github-script@v7
      #   id: json
      #   with:
      #     script: |
            
